/SEMANA 3/Exercícios de Fixação/A03ex03/nbproject/private/
/SEMANA 3/Exercícios de Fixação/A03ex03/build/
/SEMANA 3/Exercícios de Fixação/A03ex03/dist/
/SEMANA 3/Atividades/A03t01/nbproject/private/
/SEMANA 3/Atividades/A03t01/build/
/SEMANA 3/Atividades/A03t01/dist/
/SEMANA 3/Atividades/A03t02/nbproject/private/
/SEMANA 3/Atividades/A03t02/dist/
/SEMANA 3/Atividades/A03t02/build/
/SEMANA 3/Atividades/A03t03/nbproject/private/
/SEMANA 3/Atividades/A03t03/build/
/SEMANA 3/Atividades/A03t03/dist/
/SEMANA 4/Exercícios de FIxação/Forca/nbproject/private/
/SEMANA 4/Exercícios de FIxação/Forca/build/
