/SEMANA 3/Exercícios de Fixação/A03ex03/nbproject/private/
/SEMANA 3/Exercícios de Fixação/A03ex03/build/
/SEMANA 3/Exercícios de Fixação/A03ex03/dist/
/SEMANA 3/Atividades/A03t01/nbproject/private/
/SEMANA 3/Atividades/A03t01/build/
/SEMANA 3/Atividades/A03t01/dist/
/SEMANA 3/Atividades/A03t02/nbproject/private/
/SEMANA 3/Atividades/A03t02/dist/
/SEMANA 3/Atividades/A03t02/build/
/SEMANA 3/Atividades/A03t03/nbproject/private/
/SEMANA 3/Atividades/A03t03/build/
/SEMANA 3/Atividades/A03t03/dist/
/SEMANA 4/Exercícios de FIxação/Forca/nbproject/private/
/SEMANA 4/Exercícios de FIxação/Forca/build/
/SEMANA 4/Exercícios de FIxação/Forca/dist/
/SEMANA 4/Atividades/A04t01/nbproject/private/
/SEMANA 4/Atividades/A04t01/build/
/SEMANA 4/Atividades/A04t01/dist/
/SEMANA 4/Atividades/A04t02/nbproject/private/
/SEMANA 4/Atividades/A04t02/build/
/SEMANA 4/Atividades/A04t02/dist/
/SEMANA 4/Atividades/A04t03/nbproject/private/
/SEMANA 4/Atividades/A04t03/build/
/SEMANA 4/Atividades/A04t03/dist/
/SEMANA 4/Atividades/S04T04.mp4/nbproject/private/
/SEMANA 4/Atividades/A04t04/nbproject/private/
/SEMANA 4/Atividades/A04t04/build/
/SEMANA 4/Atividades/A04t04/dist/
/SEMANA 4/Atividades/a03ex02/nbproject/private/
/SEMANA 4/Atividades/a03ex02/build/
/SEMANA 4/Atividades/A03Ex01/nbproject/private/
/SEMANA 4/Atividades/A03Ex01/build/
/SEMANA 5/Atividades/Try/nbproject/private/
/SEMANA 5/Atividades/Try/build/
/SEMANA 5/Atividades/Try/dist/
/SEMANA 5/Atividades/A05ex03 - Matriz/nbproject/private/
/SEMANA 5/Atividades/A05ex03 - Matriz/build/
.hidden
/SEMANA 6/Exercícios de FIxação/a06ex01/nbproject/private/
/SEMANA 6/Exercícios de FIxação/a06ex01/build/
/SEMANA 6/Exercícios de FIxação/A06ex02/nbproject/private/
/SEMANA 6/Exercícios de FIxação/A06ex02/build/
/SEMANA 6/Exercícios de FIxação/a06ex01/dist/
/SEMANA 6/Exercícios de FIxação/A06ex02/dist/
/SEMANA 6/Exercícios de FIxação/A06ex01/nbproject/private/
/SEMANA 6/Exercícios de FIxação/A06ex066/nbproject/private/
/SEMANA 6/Exercícios de FIxação/A06ex066/build/
/SEMANA 6/Exercícios de FIxação/A06ex07/nbproject/private/
/SEMANA 6/Exercícios de FIxação/A06ex07/build/
/SEMANA 6/Exercícios de Fixação/A06ex06/nbproject/private/
/SEMANA 6/Exercícios de Fixação/A06ex07/nbproject/private/
/SEMANA 6/Exercícios de Fixação/A06ex07/build/
/SEMANA 6/Exercícios de FIxação/A06ex07/dist/
/SEMANA 6/Exercícios de Fixação/A06ex07/dist/
