/SEMANA 9/Atividades/A09t01/nbproject/private/
/SEMANA 9/Atividades/A09t01/build/
/SEMANA 9/Atividades/A09t01/dist/
/SEMANA 10/Atividades/A10t01/nbproject/private/
/SEMANA 10/Atividades/A10t01/build/
/SEMANA 10/Atividades/A10ex01/build/
/SEMANA 10/Atividades/A10ex01/nbproject/private/
/SEMANA 12/Exercícios de Fixação/A12ex01 Fail/build/
/SEMANA 12/Exercícios de Fixação/A12ex01 Fail/nbproject/private/
/SEMANA 12/Exercícios de Fixação/A12ex01/build/
